doctype html
html(lang="en")
  head
    title= "Owlypixel's Guitar Escape"
    meta(charset='utf-8')
    link(href='https://fonts.googleapis.com/css?family=Orbitron:400,700' rel='stylesheet')
  body
    #page
      .page-banner
        .page-info
          .main-heading Owlypixel's Guitar Escape
      .page-content
        p.intro Welcome to the Owlypixel's guitar escape! When I was in high school, I was obsessed with guitar. During those times I took some classic guitar classes and to measure my progress recorded myself with my old tape recorder. Due to the fact that old analog tape is not a very reliable medium, I decided to digitize my old recordings. So, without further ado, let me take you on a journey to a land of jolly improvisation, strict discipline and remarkable power of music.    
        ul
          li.item-group
            h3 3 Guitars 
            ul.category
              .item-wrap
                li.item
                  .item-content-top
                    .item-data
                      .item-title Csárdás (Monti)
                      .item-description This one is a collaborative effort of 3 high scholl rascals. Probably the most complex composition from the whole collection. It was a good concert-opener in most shows that we played live. 
                      audio.item-player(src="mp3/Chardash_Monty.mp3" controls)
                    .item-right
                      .item-time 2:30
                  .item-content-bottom
                    .item-tags-list
                      .label popurri
                      .label 3 guitars
              .item-wrap
                li.item
                  .item-content-top
                    .item-data
                      .item-title Popurri 2
                      .item-description This piece is an intense combination of spanish rhythms with pop songs and who knows what else. The insane picking havoc ensues at 1:31, when players unleash their hidden shred powers onto the listeners ears. 
                      audio.item-player(src="mp3/Popurri2.mp3" controls)
                    .item-right
                      .item-time 3:11
                  .item-content-bottom
                    .item-tags-list
                      .label popurri
                      .label 3 guitars
              .item-wrap
                li.item
                  .item-content-top
                    .item-data
                      .item-title Gary Moore - The Loner
                      .item-description A tender, expressive ballad by one of the greatest guitarplayers of all times.  
                      audio.item-player(src="mp3/Gary_Moore_The_Loner.mp3" controls)
                    .item-right
                      .item-time 2:26
                  .item-content-bottom
                    .item-tags-list
                      .label guitar gods
                      .label 3 guitars
          li.item-group
            h3 2 Guitars
            ul.category
              .item-wrap
                li.item
                  .item-content-top
                    .item-data
                      .item-title Ritchie Blackmore - Maybe Next Time
                      .item-description Blackmore
                      audio.item-player(src="mp3/Blackmore.mp3" controls)
                    .item-right
                      .item-time 1:08
                  .item-content-bottom
                    .item-tags-list
                      .label rock
                      .label guitar gods
          li.item-group
            h3 One Guitar
            ul.category
              .item-wrap
                li.item
                  .item-content-top
                    .item-data
                      .item-title Aguado - Etude
                      .item-description This is a great etude by Aguado
                      audio.item-player(src="mp3/Aguado_Etude.mp3" controls)
                    .item-right
                      .item-time 1:08
                  .item-content-bottom
                    .item-tags-list
                      .label classic
                      .label etude
          
    