doctype html
html(lang="en")
  head
    title= "Owlypixel's Guitar Escape"
    meta(charset='utf-8')
    link(href='https://fonts.googleapis.com/css?family=Orbitron:400,700' rel='stylesheet')
  body
    #grid
    #page
      .page-banner
        .page-info
          .main-heading Owlypixel's Guitar Escape
      .page-content
        ul
          li.item-group
            h3 One Guitar
            ul
              li.item
                .item-content
    