doctype html
html(lang="en")
  head
    title= "Owlypixel's Guitar Escape"
    meta(charset='utf-8')
    link(href='https://fonts.googleapis.com/css?family=Orbitron:400,700' rel='stylesheet')
  body
    #page
      .page-banner
        .social-links
          .social-links-wrapper
            a.s-link(href="https://twitter.com/owlypixel")
              span.twitter
            a.s-link(href="https://github.com/owlypixel")
              span.github
        .page-info
          .main-heading Owlypixel's Guitar Escape
      .page-content
        p.intro Welcome to the Owlypixel's guitar escape! When I was in high school, I was obsessed with guitar. During those times I took some classic guitar classes and to measure my progress recorded myself with my old tape recorder. Due to the fact that old analog tape is not a very reliable medium, I decided to digitize my old recordings. So, without further ado, let me take you on a journey to a land of jolly improvisation, strict discipline and remarkable power of music.    
        ul
          li.item-group
            h3 3 Guitars 
            ul.category
              .item-wrap
                li.item
                  .item-content-top
                    .item-data
                      .item-title Csárdás (Monti)
                      .item-description This one is a collaborative effort of 3 high scholl rascals. Probably the most complex composition from the whole collection. It was a good concert-opener in most shows that we played live. 
                      audio.item-player(src="mp3/Chardash_Monty.mp3" controls)
                    .item-right
                      .item-time 2:30
                  .item-content-bottom
                    .item-tags-list
                      .label popurri
                      .label 3 guitars
              .item-wrap
                li.item
                  .item-content-top
                    .item-data
                      .item-title Popurri 2
                      .item-description This piece is an intense combination of spanish rhythms with pop songs and who knows what else. The insane picking havoc ensues at 1:31, when players unleash their hidden shred powers onto the listeners ears. 
                      audio.item-player(src="mp3/Popurri2.mp3" controls)
                    .item-right
                      .item-time 3:11
                  .item-content-bottom
                    .item-tags-list
                      .label popurri
                      .label 3 guitars
              .item-wrap
                li.item
                  .item-content-top
                    .item-data
                      .item-title Gary Moore - The Loner
                      .item-description A tender, expressive ballad by one of the greatest guitarplayers of all times.  
                      audio.item-player(src="mp3/Gary_Moore_The_Loner.mp3" controls)
                    .item-right
                      .item-time 2:26
                  .item-content-bottom
                    .item-tags-list
                      .label guitar gods
                      .label 3 guitars
          li.item-group
            h3 2 Guitars
            ul.category
              .item-wrap
                li.item
                  .item-content-top
                    .item-data
                      .item-title Ritchie Blackmore - Maybe Next Time
                      .item-description Blackmore
                      audio.item-player(src="mp3/Blackmore.mp3" controls)
                    .item-right
                      .item-time 1:08
                  .item-content-bottom
                    .item-tags-list
                      .label rock
                      .label guitar gods
          li.item-group
            h3 One Guitar
            ul.category
              .item-wrap
                li.item
                  .item-content-top
                    .item-data
                      .item-title Bach - Gigue
                      .item-description Graceful composition from Baroque era noblemen. Sometime in the past people actually dance to this.  
                      audio.item-player(src="mp3/Bach_Gigue.mp3" controls)
                    .item-right
                      .item-time 1:38
                  .item-content-bottom
                    .item-tags-list
                      .label classic
                      .label Bach
              .item-wrap
                li.item
                  .item-content-top
                    .item-data
                      .item-title Aguado - Etude
                      .item-description This is a great etude by Aguado, or maybe not. I don't really know for sure. 
                      audio.item-player(src="mp3/Aguado_Etude.mp3" controls)
                    .item-right
                      .item-time 1:08
                  .item-content-bottom
                    .item-tags-list
                      .label classic
                      .label etude
              .item-wrap
                li.item
                  .item-content-top
                    .item-data
                      .item-title Laurindo Almeida - Blue Moon
                      .item-description Blue moon ...Ba ta ba ta-ta ba ta ...Tu ta ba ta-ta ba ta...la ta-ta ba.ba.ba. 
                      audio.item-player(src="mp3/Blue_Moon.mp3" controls)
                    .item-right
                      .item-time 1:13
                  .item-content-bottom
                    .item-tags-list
                      .label classic
                      .label blumun
              .item-wrap
                li.item
                  .item-content-top
                    .item-data
                      .item-title George Gershwin - Summertime
                      .item-description A classic jazz standard that nobody needs to know about. Gosh, I'm so sleepy on this one.
                      audio.item-player(src="mp3/Summertime.mp3" controls)
                    .item-right
                      .item-time 3:28
                  .item-content-bottom
                    .item-tags-list
                      .label jazz
                      .label Porgy and Bess
              .item-wrap
                li.item
                  .item-content-top
                    .item-data
                      .item-title The Robbers Song
                      .item-description The song has this soviet-gangsta-robbers vibe. A vigorous dance of the outcasts.
                      audio.item-player(src="mp3/The_Robbers_Song.mp3" controls)
                    .item-right
                      .item-time 0:52
                  .item-content-bottom
                    .item-tags-list
                      .label gangsta
                      .label soviet cartoons
              
          
    